@page "/kayttajat"
@using SharedLib
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<PageTitle>Käyttäjät</PageTitle>

<h1>Käyttäjät</h1>


<AuthorizeView Roles="admin"> @*Roolit ei toimi. Pitää tutkia.*@
    <Authorized>
@if (kayttajat == null)
{
    <p><em>Ladataan käyttäjälistaa</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Käyttäjätunnus</th>
                <th>Luotu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in kayttajat)
            {
                <tr>
                    <td>@item.Nimi</td>
                    <td>@item.Kayttajatunnus</td>
                    <td>@item.Luotu</td>
                    <td><button style="font-size: 85%" class="btn btn-success">edit</button></td>
                    <td><button style="font-size: 85%" class="btn btn-danger">delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
</Authorized>

    <NotAuthorized>
        <span>You are not authorized</span>
    </NotAuthorized>

</AuthorizeView>

@code {
    private KayttajaDTO[]? kayttajat;

    protected override async Task OnInitializedAsync()
    {
        kayttajat = await Http.GetFromJsonAsync<KayttajaDTO[]>("all");
    }

}

